# Frontend
/frontend/ @sejalAS-1510

# Backend
/backend/ @JayachandraV16

# AI Service
/ai-service/ @omraj2006

# Database
/database/ @harshalwalke18-create

# Docker
/docker/ @harshalwalke18-create

# Documentation
/docs/ @harshalwalke18-create @JayachandraV16